<!-- <html>
<head>
<script type="text/javascript">
function calc()
{
form=document.getElementById("form1");
bp=form.bp.value;

bp=parseFloat(bp);
form.login[hra].value=(bp*12/100);
form.login[cca].value=(bp*10/100);
form.login[sa].value=(bp*10/100);
form.login[ta].value=(bp*8/100);
form.login[reim].value=(bp*3/100);
form.login[it].value=(bp*5/100);
form.login[pt].value=(bp*3/100);
form.login[lop].value=(bp*3/100);
form.login[od].value=(bp*2/100);






h=parseFloat(form.login[hra].value);
c=parseFloat(form.login[cca].value);
s=parseFloat(form.login[sa].value);
t=parseFloat(form.login[ta].value);
r=parseFloat(form.login[reim].value);
i=parseFloat(form.login[it].value);
p=parseFloat(form.login[pt].value);
l=parseFloat(form.login[lop].value);
o=parseFloat(form.login[od].value);
gs=parseFloat(bp+h+c+s+t+r);


form.login[ns].value=parseFloat(gs-(i+p+l+o));
}
</script>

	</head>
	<body style="background-color:#E6ECE2;">
	<form id="form1">

	<div class="topnav">
	<a href="/users">Home</a>
	<%= link_to "Logout", signout_path, method: :delete, data: {confirm: "Are you sure???"} %>
	</div>
	<h3>GENERATE SALARY</h3>
	<fieldset>
	<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" >
	<table align="top" cellpadding = "5" border="1">
	<tr>
	<td> FIRST NAME </td>
	<td><%= @user.fname %></td><br>
	</tr>


	
	<tr>
	<td> BASIC PAY </td>
	<td><input type="float" name="login[bp]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
	</td>

	</tr>

	<tr>
	<td> HRA </td>
	<td><input type="float" name="login[hra]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
		</td>
	</tr>

	<tr>
	<td> CCA </td>
	<td><input type="float" name="login[cca]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
		</td>
	</tr>


	<tr>
	<td> SPECIAL ALLOWANCE </td>
	<td><input type="float" name="login[sa]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
		</td>
	</tr>

	<tr>
	<td>TRANSPORT ALLOWNACE </td>
	<td><input type="float" name="login[ta]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
		</td>
	</tr>


	<tr>
	<td> REIMBURSEMENT </td>
	<td><input type="float" name="login[reim]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
		</td>
	</tr>

	<tr>
		<td> <b>GROSS SALARY</b></td>
	<td><input type="float" name="login[gs]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
	</tr>

    
	<tr>
	<td> INCOME TAX </td>
	<td><input type="float" name="login[it]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
		</td>
	</tr>

	<tr>
	<td>PROFESSIONAL TAX</td>
	<td><input type="float" name="login[pt]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
		</td>
	</tr>
	

	<tr>
	<td> LOSS OF PAY </td>
	<td><input type="float" name="login[lop]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
		</td>
	</tr>

	<tr>
	<td> OTHER DEDUCTIONS </td>
	<td><input type="float" name="login[od]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
		</td>
	</tr>


	<tr>
	<td><b> NET SALARY</b></td>
	<td><input type="float" name="login[ns]" class="required" format="{ without="/\A[a-zA-Z]+(?: [a-zA-Z]+)?\z/"/></td><br>
	</tr>


	<tr>
	<td><input type="reset" name="Btn2" value="Reset"/></td>

	<td><input type="button" name="btn" value="Calculate" onclick="calc()"/></td>
    </tr>
</table>
</form>
</fieldset>
</body>
</html> -->




<html>
<head>
    <title>Salary </title>
    <script type="text/javascript">
    function calc()
    {
      form=document.getElementById("form1");
      bp=form.bp.value;
      nol=form.nol.value;


      bp=parseFloat(bp);
      nol=parseFloat(nol);


      form.sa.value=(bp*20/100);
      form.ta.value=(bp*18/100);
      form.hra.value=(bp*12/100);
      form.cca.value=(bp*8/100);
      // form.reim.value=(bp*6/100);

	  form.pt.value=200;
      form.lop.value=((bp/30)*nol);
      form.od.value=(bp*2/100);



      p=parseFloat(form.pt.value);
      s=parseFloat(form.sa.value);
      t=parseFloat(form.ta.value);
      h=parseFloat(form.hra.value);
      c=parseFloat(form.cca.value);
      r=parseFloat(form.reim.value);
      l=parseFloat(form.lop.value);
      o=parseFloat(form.od.value);
      gs=parseFloat(bp+s+t+h+c+r);
      form.gsal.value=parseFloat(gs);
       
      // form.it.value=((gs-(c))*20/100);
      // t=parseFloat(form.it.value);
      form.ns.value=parseFloat(gs-(l+p+o));
      form.ns.value=parseFloat(ns);

    }
</script>
</head>
<body>
<div class="topnav">
<a href="/users">Home</a>
<%= link_to "Logout", signout_path, method: :delete, data: {confirm: "Are you sure???"} %>
</div>
<h3>GENERATE SALARY</h3>
<fieldset>
<form action="/temp" method="post" id="form1">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
   <pre>

First Name           :           <td ><%= @user.fname %></td><br>
Basic Pay<label style="color:red">*</label>           :           <input type="number" size="20" name="bp" min="0" /><br />
Number of Leaves<label style="color:red">*</label>    :           <input type="number" size="20" name="nol" min="0"/><br />
Reimbursement<label style="color:red">*</label>       :           <input type="number" size="20" name="reim" min="0"/><br />
                                 <input type="button" name="btn" value="Calculate" onclick="calc()"/><br />

HRA                  :           <input type="number" size="20" name="hra" min="0"/><br />
CCA                  :           <input type="number" size="20" name="cca" min="0"/><br />
Special Allowance    :           <input type="number" size="20" name="sa" min="0"/><br /> 
Transport Allowance  :           <input type="number" size="20" name="ta" min="0"/><br />
Gross Salary         :           <input type="number" size="20" name="gsal" min="0"/><br /> <br />
<b>Deductions  :</b ><br />
Professional Tax     :           <input type ="number" size="20" name="pt" min="0"/> <br />
Loss of Pay          :           <input type ="number" size="20" name="lop" min="0"/> <br />
Other Deductions     :           <input type ="number" size="20" name="od" min="0"/> <br />    
<br />
<b><i>Net Salary           :        </b></i>   <input type="number" size="20" name="ns" min="0"/> <br />


                                 <input type="submit" name="Submit">  <input type="reset" name="Btn2" value="Reset"/>
</pre>
</fieldset>
</form>
</body>
</html>